https://www.ef.edu/epi/regions/europe/ukraine/

In [6]:
import numpy as np
import pandas as pd

In [13]:
data = pd.DataFrame({"years":[2018,2019,2020,2021,2022], 'users':[10,15,20,25,30]})
data

   years  users
0   2018     10
1   2019     15
2   2020     20
3   2021     25
4   2022     30

<img src="https://media.beehiiv.com/cdn-cgi/image/fit=scale-down,format=auto,onerror=redirect,quality=80/uploads/asset/file/ede4aa4c-0d77-4baf-9623-ad4177cc0463/Grammarly_s_User_Growth.png?t=1715260690" alt="graph" width="100%"/>

<img src="https://www.mksguide.com/wp-content/uploads/2023/07/Grammarly-Daily-Active-Users-2013-to-2023.webp" alt="graph" width="100%"/>